In [ ]:
#Existen mas pintores que pintaras, en que porcentaje

In [2]:
import numpy as np
import pandas as pd

In [132]:
artista = pd.read_csv('artists.csv')
obras= pd.read_csv('artworks.csv')

In [115]:
obras.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130262 entries, 0 to 130261
Data columns (total 21 columns):
Artwork ID            130262 non-null int64
Title                 130210 non-null object
Artist ID             128802 non-null object
Name                  128802 non-null object
Date                  127950 non-null object
Medium                118343 non-null object
Dimensions            118799 non-null object
Acquisition Date      124799 non-null object
Credit                127192 non-null object
Catalogue             130262 non-null object
Department            130262 non-null object
Classification        130262 non-null object
Object Number         130262 non-null object
Diameter (cm)         1399 non-null float64
Circumference (cm)    10 non-null float64
Height (cm)           111893 non-null float64
Length (cm)           736 non-null float64
Width (cm)            111003 non-null float64
Depth (cm)            11443 non-null float64
Weight (kg)           298 non-null float64
Duration (s)          3084 non-null float64
dtypes: float64(8), int64(1), object(12)
memory usage: 20.9+ MB

In [103]:
artista.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15091 entries, 0 to 15090
Data columns (total 6 columns):
Artist ID      15091 non-null int64
Name           15091 non-null object
Nationality    12603 non-null object
Gender         12019 non-null object
Birth Year     11237 non-null float64
Death Year     4579 non-null float64
dtypes: float64(2), int64(1), object(3)
memory usage: 707.5+ KB

In [6]:
artista["Gender"].value_counts()

Male      9820
Female    2193
male         6
Name: Gender, dtype: int64

In [7]:

artista['Gender'] = artista['Gender'].str.replace('male', 'Male')
artista['Gender'] = artista['Gender'].str.replace('FeMale', 'Female')
artista['Gender'] = artista['Gender'].fillna('Unknown')

In [8]:
artista["Gender"].value_counts()

Male       9826
Unknown    3072
Female     2193
Name: Gender, dtype: int64

In [33]:
Unknown=(artista[(artista["Gender"]=="Unknown")]["Gender"].value_counts()/len(artista["Gender"])*100)
Unknown="% .2f" %Unknown[0]
Male=(artista[(artista["Gender"]=="Male")]["Gender"].value_counts()/len(artista["Gender"])*100)
Male="% .2f"%Male[0]
Female=(artista[(artista["Gender"]=="Female")]["Gender"].value_counts()/len(artista["Gender"])*100)
Female="% .2f"%Female[0]
porcentaje= {"Unknown":[Unknown],"Male":[Male],"Female":[Female]}
Total=pd.DataFrame(data=porcentaje).T
Total2=Total.rename(columns={0:'%Gender_authors'})
Total2

        %Gender_authors
Female            14.53
Male              65.11
Unknown           20.36

In [47]:
GenderList = [x for x in artista["Gender"] if str(x) != 'Unknown']

In [48]:
z = pd.DataFrame(GenderList)

In [65]:
Malez=(z[(z[0]=="Male")][0].value_counts()/len(z[0])*100)
Malez="% .2f"%Malez[0]
Femalez=(z[(z[0]=="Female")][0].value_counts()/len(z[0])*100)
Femalez="% .2f"%Femalez[0]
porcentajez= {"Male":[Malez],"Female":[Femalez]}
Totalz=pd.DataFrame(data=porcentajez).T
Total2z=Totalz.rename(columns={0:'%Gender_authors'})
Total2z

       %Gender_authors
Female           18.25
Male             81.75

In [ ]:
obras['Artist ID'] = artista['Artist ID'].fillna(0)


obras[["Artist ID","Title"]]

In [ ]:
artista

NameError: name 'pd' is not defined

In [1]:
moma

NameError: name 'moma' is not defined